h2{
color:blue; /*Define a cor do texto como azul*/
font-size: 30px; /*Define o tamanho para 30px*/
text-align: center; /*Alinha o texto ao centro*/
}

.destaque { /*Classes	são	definidas	com	um	ponto	(.)*/
    color:red; /*Tornar texto vermelho*/
}

#especial {/*IDs	usam	um	sí,bolo	de sustenido(#)*/
font-weight: bold; /*Deixa o texto em negrito*/
}

.container{
    display: flex; /*Ativa	o	Flexbox*/
    justify-content: space-between; /*Espaça os itens uniformemente*/
    align-items: center; /*	Centraliza os itens verticalmente*/
}	

.grid-container{
    display: grid; /*Ativar o grid*/
    grid-template-columns: 1fr 2fr; /*Define duas colunas, uma pequena e outra maior*/
    gap: 20px; /*Adiciona espaçamento entre os itens*/

}